body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.up {
    border-right: 7px solid gray;
    border-bottom: 7px solid gray;
}

.center {
    border-right: 7px solid gray;
    border-bottom: 7px solid gray;
}

.down {
    border-right: 7px solid gray;
}

.last {
    border-bottom: 7px solid gray;
}
